.ant,
.dec {
    font-size: 28px;
    ;font-family: helvetica, 'Times New Roman', sans-serif;
}

.ant {
    color: white;
    background-color: black;
    
}

.dec {
    background-color: yellow;
}
    